<a href="https://colab.research.google.com/github/harishmuh/Python-simple-tutorials/blob/main/Collection_data_type_easy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Collection data types**
---

## **List**
* List uses Square brackets [ ]
* A list is like a box that can hold items/elements of various data types (int, string, float, boolean, list).
* Allows duplicate values.
* Mutable, meaning items in a list can be modified, added, or removed.
* Can be ordered and indexed, so indexing and slicing can be performed.

**Creating list**

In [1]:
# Can contain items/elements of various data types
example_list = ['hello', 3, 2, 1, True]
print(example_list)

['hello', 3, 2, 1, True]

**Nested list or list inside list**

In [3]:
nested_list = ['hello', 1, 2, 3, False, [4, 5, 6], example_list]
print(nested_list)

['hello', 1, 2, 3, False, [4, 5, 6], ['hello', 3, 2, 1, True]]

In [4]:
# Allows duplicate values
example_list_1 = ['hello', 3, 2, 1, True, 6, 6, 6]
print(example_list_1)

['hello', 3, 2, 1, True, 6, 6, 6]

In [5]:
# Can be ordered. so indexing and slicing can be performed
nested_list = ['hello', 1, 2, 3, False, [4, 5, 6], example_list]

# Indexing
print('Index 2:', nested_list[2])

# Slicing
print(nested_list[::2]) # start: omitted, so it starts at index 0 | stop: omitted, so it goes until the end step: 2, so it picks every second item|

Index 2: 2
['hello', 2, False, ['hello', 3, 2, 1, True]]

**List slicing**

In [58]:
# Slicing in list
spam = ['halo', 3.1415, True, None, 42]

print(f'Item in index [0: 3]: {spam[0: 3]}')
print(f'Item in index [1: -1]: {spam[1: -1]}')
print(f'Item in index [: 2]: {spam[: 2]}')
print(f'Item in index [1: ]: {spam[1: ]}')
print(f'Item in index [:]: {spam[:]}')

Item in index [0: 3]: ['halo', 3.1415, True]
Item in index [1: -1]: [3.1415, True, None]
Item in index [: 2]: ['halo', 3.1415]
Item in index [1: ]: [3.1415, True, None, 42]
Item in index [:]: ['halo', 3.1415, True, None, 42]

In [59]:
# Mutable
# list items can be modified
spam = ['halo', 3.1415, True, None, 42]

spam[1] = 'world'
spam[2] = spam[3]
spam[-1] = 12345
spam[1: 3] = ['Baron', 249]
spam

['halo', 'Baron', 249, None, 12345]

In [6]:
# Mutable
# list items can be modified

nested_list[5][1] = '30'
print(nested_list)  # ['hello', 1, 2, 3, False, [4, '30', 6], example_list]

['hello', 1, 2, 3, False, [4, '30', 6], ['hello', 3, 2, 1, True]]

**Membership operator**

In [56]:
# Membership Operator
# Check if a value exists in a list (in & not in)

example_list = ['Hello', 3, 2, False, True, [10, 20, 30], 6, 6, 6]

print('Hello' in example_list)           # True
print(20 in example_list)                # False
print(20 in example_list[5])             # True
print([10, 20, 30] in example_list)      # True
print(6 in example_list)                 # True
print(1 in example_list)                 # True (True is treated as 1)
print(0 in example_list)                 # True (False is treated as 0)

True
False
True
True
True
True
True

In [57]:
# Checking index in a list

# print(example_list.index(20))          # Error â†’ 20 is not in the list
print(example_list.index(6))             # Shows the first occurrence of 6: index 6
print(example_list.index(0))             # False is treated as 0
print(example_list.index(1))             # True is treated as 1
print(example_list.index([10, 20, 30]))  # [10, 20, 30] is at index 5
print(example_list[5].index(20))         # 20 is at index 1 in example_list[5]
print(example_list[example_list.index([10, 20, 30])].index(20))  # 20 is at index 1 in example_list[5]
print([10, 20, 30].index(20))            # 20 is at index 1 in [10, 20, 30]

6
3
4
5
1
1
1

In [9]:
# Indirect Assignment

a = 100
b = 200

a = b

a = 500

print(a)
print(b)

500
200

In [10]:
list_a = [10, 20, 30, 40]
list_b = list_a

print('Initial list_a:', list_a)
print('Initial list_b:', list_b)

list_b[-1] = 100
print('Final list_b:', list_b)
print('Final list_a:', list_a)

Initial list_a: [10, 20, 30, 40]
Initial list_b: [10, 20, 30, 40]
Final list_b: [10, 20, 30, 100]
Final list_a: [10, 20, 30, 100]

**List.copy() method**

In [11]:
# Use .copy() so the original list_a does not change
print('------.copy()------')

list_a = [10, 20, 30, 40]
list_b = list_a.copy()

print('Initial list_a:', list_a)
print('Initial list_b:', list_b)

------.copy()------
Initial list_a: [10, 20, 30, 40]
Initial list_b: [10, 20, 30, 40]

In [12]:
list_b[-1] = 100
print('Final list_b:', list_b)   # The last item in list_b is changed
print('Final list_a:', list_a)   # The last item in list_a remains unchanged

Final list_b: [10, 20, 30, 100]
Final list_a: [10, 20, 30, 40]

**List concatenation**

Adding value to a list can be done by using function as below
* Append()
* Extend()
* Insert()

In [13]:
# Adding items/elements to a list

# append: adds one item to the list
cars = ['toyota', 'vw', 'honda']
new_car = 'lamborghini'

cars.append(new_car)  # Cannot be assigned to a variable
print(cars)
print(len(cars))

['toyota', 'vw', 'honda', 'lamborghini']
4

In [14]:
# Extend: adds multiple items separately
cars = ['toyota', 'vw', 'honda']
new_cars = ['lamborghini', 'nissan']

cars.extend(new_cars)
print('Using extend:', cars)  # ['lamborghini', 'nissan'] are added separately
print(len(cars))

Using extend: ['toyota', 'vw', 'honda', 'lamborghini', 'nissan']
5

In [15]:
# insert: inserts an item at a specific position
cars.insert(0, new_cars)
print('Using insert:', cars)  # ['lamborghini', 'nissan'] inserted at index 0 as a single list
print(len(cars))

Using insert: [['lamborghini', 'nissan'], 'toyota', 'vw', 'honda', 'lamborghini', 'nissan']
6

In [27]:
'''
Exercise

Use 'append' to create output as below
[1, 3, 5, 7, 9]

'''
num = []
for i in range(1, 10, 2):
    num.append(i)
print(num)

[1, 3, 5, 7, 9]

In [28]:
'''
Exercises

use append to create this list number
[1, 10, 100, 1000, 10000]
'''
list_angka = []
for i in range(5):
    list_angka.append(10**i)
print(list_angka)

[1, 10, 100, 1000, 10000]

**Removing value from lists**

We can remove item from list by using function as below
* del
* remove()
* pop()
* Clear()

In [60]:
# Removing items using del statements
spam = ['halo', 3.1415, True, None, 42]
print(f'Before removal process: {spam}')

del spam[2]
print(f'After item removal in index (2): {spam}')

del spam[0: 2]
print(f'After items removal from index 0 to 2: {spam}')

Before removal process: ['halo', 3.1415, True, None, 42]
After item removal in index (2): ['halo', 3.1415, None, 42]
After items removal from index 0 to 1: [None, 42]

In [62]:
# Removing an item using the remove() function
spam = ['hello', 3.1415, 42, True, None, 42]
print(f'Result before removal: {spam}')

spam.remove(42)
print(f'Result after removing 42: {spam}')

#spam.remove('world')
#print(f'Result after removing item "world!": {spam}') #ValueError

Result before removal: ['hello', 3.1415, 42, True, None, 42]
Result after removing 42: ['hello', 3.1415, True, None, 42]

In [63]:
# Removing items using the pop() function
spam = ['halo', 3.1415, 19, True, 42, 'world!']
print(f'result before: {spam}')

spam2 = spam.pop(2)
print(f'result after: {spam}')
print(f'the deleted item: {spam2}')

result before: ['halo', 3.1415, 19, True, 42, 'world!']
result after: ['halo', 3.1415, True, 42, 'world!']
the deleted item: 19

In [71]:
# Removing all items using the clear() function
spam = ['a', 'A', 'B', 'y', 'X']
print(f'Before: {spam}')

spam.clear()
print(f'After: {spam}')

Before: ['a', 'A', 'B', 'y', 'X']
After: []

**Using for loops with list**

* You can use range(len(spam)) in a for loop to access each index of the items in a list.

In [64]:
# For loop
# range(len(spam))
spam = ['halo', 3.1415, True, None, 42]

for i in range(len(spam)):
    print(f'Index {i} in spam is: {spam[i]}')

Index 0 in spam is: halo
Index 1 in spam is: 3.1415
Index 2 in spam is: True
Index 3 in spam is: None
Index 4 in spam is: 42

In [65]:
# Enumerate
spam = ['halo', 3.1415, True, None, 42]

for i, item in enumerate(spam):
    print(f'Index {i} in spam is: {item}')

Index 0 in spam is: halo
Index 1 in spam is: 3.1415
Index 2 in spam is: True
Index 3 in spam is: None
Index 4 in spam is: 42

**Sorting the values in a list with the sort() method**

In [67]:
# First Trial
spam = ['jhon', 'baron', 'kenny', 'antonie']
spam.sort()
print(f'First rule: {spam}')

# Second Trial
spam = ['a', 'B', 'y', 'X']
spam.sort()
print(f'Second rule: {spam}')

# Third Trial
spam = [2, 5, -7, 3.14, 'jhon', 'baron']
# spam.sort()
# spam--> type error

First rule: ['antonie', 'baron', 'jhon', 'kenny']
Second rule: ['B', 'X', 'a', 'y']

**Reverse() method**

In [69]:
spam = ['a', 'A', 'B', 'y', 'X']
print(f'Before: {spam}')

spam.reverse()
print(f'After: {spam}')

Before: ['a', 'A', 'B', 'y', 'X']
After: ['X', 'y', 'B', 'A', 'a']

**List comperhension**
* List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [31]:
# Without list comperhension
names = ["Karina", "Ningning", "Winter", "Giselle", "Naevis"]
namesNewList = []
for name in names:
    if "n" in name:
      namesNewList.append(name)

print(namesNewList)

['Karina', 'Ningning', 'Winter']

* Based on a list of names, you want a new list, containing only the names with the letter "n" in the name.
* Without list comprehension you will have to write a for statement with a conditional test inside like this

In [36]:
# Using list comperhension
names = ["Karina", "Ningning", "Winter", "Giselle", "Naevis"]
namesNewList = [name for name in names if "n" in name]
print(namesNewList)

['Karina', 'Ningning', 'Winter']

**Syntax of list comperhension**
* newlist = [expression for item in iterable if condition == True]
* The return value is a new list, leaving the old list unchanged.

In [37]:
# Syntax: newlist = [expression for item in iterable if condition == True]
# Only accept items that are not "Naevis"
newlist = [name for name in names if name != "Naevis"]
newlist

['Karina', 'Ningning', 'Winter', 'Giselle']

The iterable can be any iterable object, like a list, tuple, set etc.

In [38]:
# Iterable
# The iterable can be any iterable object, like a list, tuple, set etc.

# You can use the range() function to create an iterable
newlist_number = [num for num in range(5)]
newlist_number

[0, 1, 2, 3, 4]

In [39]:
# Same example but with a condition
# Example, accept only odd numbers
newlist_number = [num for num in range(5) if num % 2 != 0]
newlist_number

[1, 3]

**Expression in list comperhension**

In [40]:
newlist = [name.upper() for name in names]
newlist

['KARINA', 'NINGNING', 'WINTER', 'GISELLE', 'NAEVIS']

In [41]:
newlist = ['Karina' for name in names]
print(newlist)

['Karina', 'Karina', 'Karina', 'Karina', 'Karina']

In [42]:
newlist = [name if name != "Karina" else "Winter" for name in names]
print(newlist)

['Winter', 'Ningning', 'Winter', 'Giselle', 'Naevis']

**Key points**

* List comprehension is an elegant way to define and create lists based on existing lists.
* List comprehension is generally more compact and faster than normal functions and loops for creating list.
* However, we should avoid writing very long list comprehensions in one line to ensure that code is user-friendly.
* Remember, every list comprehension can be rewritten in for loop, but every for loop canâ€™t be rewritten in the form
of list comprehension.

## **Tuple**

* Denoted by parentheses ()
* Similar to lists, can store different data types
* Allows duplicate items
* Ordered, so indexing and slicing can be performed
* Immutable, meaning tuple items cannot be changed

In [23]:
tuple_example = ('Hello', 3, 2, 1, True, [10, 20, 30], 6, 6, 6)
print(tuple_example)

('Hello', 3, 2, 1, True, [10, 20, 30], 6, 6, 6)

In [22]:
# We can do indexing and slicing
print(tuple_example[1])    # 3
print(tuple_example[1:5])  # (3, 2, 1, True)

3
(3, 2, 1, True)

In [25]:
# Immutable
# tuple_example[1] = 'Hi'              # Error â†’ 'tuple' object does not support item assignment
# tuple_example[5] = [10, 20, 40]      # error
# tuple_example[5][1] = 30             # Converting list inside tuple # Still possible

In [26]:
tuple_example

('Hello', 3, 2, 1, True, [10, 30, 30], 6, 6, 6)

In [19]:
# How to modify tuple:

# Converting into list
list_example = list(tuple_example)

# Change the value
list_example[1] = 'Hi'

# Converting again into tuple
tuple_example = tuple(list_example)
print(tuple_example)

('Hello', 'Hi', 2, 1, True, [10, 20, 30], 6, 6, 6)

**Zip**
* The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired
together, and then the second item in each passed iterator are paired together etc.
* If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

**Syntax**

* zip(iterator1, iterator2, iterator3 ...)

In [72]:
# zip example
data1 = range(1,6)
data2 = ['a','b','c','d']
data3 = (1,3,5,7,9,11)
data4 = 'mnopqrs'

# zipping #1
hasilZip1 = zip(data1, data2)
print(hasilZip1)
# Trying to read the result by converting to list
listHasilZip1 = list(hasilZip1)
print(listHasilZip1)
# [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

<zip object at 0x7e89975221c0>
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [45]:
# Zipping #2
hasilZip2 = zip(data2,data3,data4)
print(hasilZip2)
# <zip object at 0x0000019410C816C0>
tupleHasilZip2 = tuple(hasilZip2)

print(tupleHasilZip2)
# (('a', 1, 'm'), ('b', 3, 'n'), ('c', 5, 'o'), ('d', 7, 'p'))

<zip object at 0x7e8997283880>
(('a', 1, 'm'), ('b', 3, 'n'), ('c', 5, 'o'), ('d', 7, 'p'))

In [46]:
# Zipping #3
hasilZip3 = zip(data4,data1)
print(hasilZip3)
# <zip object at 0x0000019410C81740>
dictHasilZip3 = dict(hasilZip3)
print(dictHasilZip3)
# {'m': 1, 'n': 2, 'o': 3, 'p': 4, 'q': 5}

<zip object at 0x7e899685b900>
{'m': 1, 'n': 2, 'o': 3, 'p': 4, 'q': 5}

In [ ]:
'''
Exercise:
price_list = [20000, 15000, 10000]
fruit_list = ['apple', 'orange', 'manggo']

Output:
price of apple is 20000
price of orange is 15000
price of manggo is 10000

1. Solve it manually
2. Solve it using enumerate()
3. solve it using zip()

'''

In [73]:
#=== Method 1 (manual indexing)
fruit_list = ['apple', 'orange', 'manggo']
price_list = [20000, 15000, 10000]
x = 0
for i in fruit_list:
    print(f'price of {i} is {price_list[x]}')
    x += 1

price of apple is 20000
price of orange is 15000
price of manggo is 10000

In [74]:
#==== Method using enumerate
for index, fruit in enumerate(fruit_list):
    print(f'price of {fruit} is {price_list[index]}')

price of apple is 20000
price of orange is 15000
price of manggo is 10000

In [75]:
#======= Method using zip
fruit_list = ['apple', 'orange', 'manggo']
price_list = [20000, 15000, 10000]

for fruit, price in zip(fruit_list, price_list):
    print(f'price of {fruit} is {price}')

price of apple is 20000
price of orange is 15000
price of manggo is 10000

**Using zip() Function in for Loop**

In [1]:
# Using zip() Function in for Loop
# example 1
name_data = ['Andi','Budi','Ceci','Dedi']
age_data = [24,27,35,55]
for name, age in zip(name_data,age_data) :
  print('Name : {}\nAge : {}'.format(name,age))

Name : Andi
Age : 24
Name : Budi
Age : 27
Name : Ceci
Age : 35
Name : Dedi
Age : 55

In [48]:
# example 2
for i,j in zip(range(5),range(10,0,-2)) :
  print('i = {} & j = {}'.format(i,j))

i = 0 & j = 10
i = 1 & j = 8
i = 2 & j = 6
i = 3 & j = 4
i = 4 & j = 2

## **Dictionary**
* Dictionary provides flexible ways to access and manage data.
* Dictionary is mutable. The values can be manipulated.
* The index in dictionary is called as key. So, dictionary contains key and value.

**Creating a dictionary**

In [1]:
# Creating dictionary (Method 1)
# Adding items to a dictionary

dict_example = {
    'Name': ['Asa', 'Ahyeon'],
    'Age': [25, 23],
    'Program': 'Data Science',
    'Status': 'secret',
}
print(dict_example)

{'Name': ['Asa', 'Ahyeon'], 'Age': [25, 23], 'Program': 'Data Science', 'Status': 'secret'}

In [2]:
# Creating dictionary (Method 2)
# using dict() function

dict_example_too = dict(Name=['Asa', 'Ahyeon'], Age= [25, 23], Program='Data Science', Status='secret')
print(dict_example_too)

{'Name': ['Asa', 'Ahyeon'], 'Age': [25, 23], 'Program': 'Data Science', 'Status': 'secret'}

In [7]:
# Access data
print(dict_example['Name'])
print(dict_example['Age'])
print(dict_example['Name'][1])
print(dict_example.get('Status'))

['Asa', 'Ahyeon']
[25, 23]
Ahyeon
secret

**Adding item in a dictionary**

In [52]:
# Adding an item - one by one
dict_example['Hobby'] = ['Reading', 'Swimming'] # Adding key hobby witj value ['Reading', 'Swimming']
print(dict_example)

{'Name': ['Asa', 'Ahyeon'], 'Age': [25, 23], 'Program': 'Data Science', 'Status': 'secret', 'Hobby': ['Reading', 'Swimming']}

**Adding multiple items in a dictionary**

In [12]:
# Adding multiple items
dict_example.update({'Location': 'Bandung', 'Dreams': ['Data Scientist', 'Data Analyst']})
print(dict_example)

{'Name': ['Asa', 'Ahyeon'], 'Age': [25, 23], 'Program': 'Data Science', 'Status': 'secret', 'Location': 'Bandung', 'Dreams': ['Data Scientist', 'Data Analyst']}

**Removing item in a dictionary**

We can use some statements and function to remove items from dictionary, such as:
* del statement
* pop()
* popitem()
* Clear()

In [54]:
# Deleting an item # del

# Remove key-value pair for 'status' key
del dict_example['Status']
print(dict_example)

{'Name': ['Asa', 'Ahyeon'], 'Age': [25, 23], 'Program': 'Data Science', 'Hobby': ['Reading', 'Swimming'], 'Location': 'Bandung', 'Dreams': ['Data Scientist', 'Data Analyst']}

In [8]:
# Deleting an item # pop
dict_example.pop('Age')
print(dict_example)

{'Name': ['Asa', 'Ahyeon'], 'Program': 'Data Science', 'Status': 'secret'}

In [9]:
# Deleting an item # popitem()
dict_example.popitem()
print(dict_example)

{'Name': ['Asa', 'Ahyeon'], 'Program': 'Data Science'}

In [10]:
# Deleting a whole dictionary
dict_example.clear()
print(dict_example)

{}

**The keys(), values(), and items() methods**
* items() used to access key-value pair
* keys() used to access keys
* values() used to access values

In [5]:
# items() method # Accessing both keys and value
# Without loop
dict_example = {
    'Name': ['Asa', 'Ahyeon'],
    'Age': [25, 23],
    'Program': 'Data Science',
    'Status': 'secret',
}
print(dict_example.items()) # Displaying items in dictionary

# Using loop
for k, v in dict_example.items():
    print(f'key: {k}, value: {v}')

dict_items([('Name', ['Asa', 'Ahyeon']), ('Age', [25, 23]), ('Program', 'Data Science'), ('Status', 'secret')])
key: Name, value: ['Asa', 'Ahyeon']
key: Age, value: [25, 23]
key: Program, value: Data Science
key: Status, value: secret

In [6]:
# keys() method
# Without loops
print(dict_example.keys()) # Displaying keys in dictionary

# Using loop
for k in dict_example.keys(): # Taking keys from dictionary
    print(k)

dict_keys(['Name', 'Age', 'Program', 'Status'])
Name
Age
Program
Status

In [7]:
# values() method
# Without loops
print(dict_example.values()) # Displaying values in dictionary

# Using loop
for v in dict_example.values(): # Taking values from dictionary
    print(v)

dict_values([['Asa', 'Ahyeon'], [25, 23], 'Data Science', 'secret'])
['Asa', 'Ahyeon']
[25, 23]
Data Science
secret

In [14]:
# Loop through a dictionary
dict_example = {
    'Name': ['Asa', 'Ahyeon'],
    'Age': [25, 23],
    'Program': 'Data Science',
    'Status': 'secret',
}

print('-----Direct on dictionary')
# Through dictionary
for key in dict_example:
    print("{} = {}".format(key, dict_example[key]))

print('-----method keys')
# method keys on dictionary
for key in dict_example.keys():
    print("{} = {}".format(key, dict_example[key]))

print('-----method values')
# method values on dictionary
for value in dict_example.values():
    print(value)

print('-----method items')
# method items on dictionary
for key, value in dict_example.items():
    print("{} = {}".format(key, value))

-----Direct on dictionary
Name = ['Asa', 'Ahyeon']
Age = [25, 23]
Program = Data Science
Status = secret
-----method keys
Name = ['Asa', 'Ahyeon']
Age = [25, 23]
Program = Data Science
Status = secret
-----method values
['Asa', 'Ahyeon']
[25, 23]
Data Science
secret
-----method items
Name = ['Asa', 'Ahyeon']
Age = [25, 23]
Program = Data Science
Status = secret

**Checking whether a key or value exists in a dictionary**

In [15]:
# Check if a key exists in a dictionary

dict_example = {
    'Name': ['Asa', 'Ahyeon'],
    'Age': [25, 23],
    'Program': 'Data Science',
    'Status': 'secret',
}

if 'program' in dict_example:
  print('key of program is in dict_example')
else:
  print('key of program is not exist in the dict_example')

key of program is not exist in the dict_example

**Getting a dictionary length**

In [17]:
# Length of dictionary
print(len(dict_example)) # 4 key value pairs

4

**The get() methods**

In [19]:
# The get methods
spam = {'color': 'red', 'age': 42, 'size': 53}

# Using get method
spam.get('color', 'a key is not found' )

# Using get() method # Require 2 arguments: key and fallback value to be returned (if there is no key in the dictionary)
#spam.get('name', 'a key is not found')

# Without get() method
#spam['name']

{'color': 'red', 'age': 42, 'size': 53}

**Dictionary comprehension**

Syntax: dictionary = {key: value for vars in iterable}

In [23]:
# Without dictionary comprehension
timesTwoDict = dict()
for num in range(1, 6):
  timesTwoDict[num] = num*2
print(timesTwoDict)
# {1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [24]:
# With dictionary comprehension
timesTwoDict = {num: num*2 for num in range(1, 6)}
print(timesTwoDict)
# {1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [25]:
# harga item dalam rupiah
hargaLama = {'susu': 15000, 'teh': 10000, 'roti': 20000}
kenaikanHarga = 1.1
# harga naik 10%
hargaBaru = {item: value*kenaikanHarga for (item, value) in hargaLama.items()}
print(hargaBaru)
# {'susu': 16500.0, 'teh': 11000.0, 'roti': 22000.0}

{'susu': 16500.0, 'teh': 11000.0, 'roti': 22000.0}

In [27]:
# if Conditional Dictionary Comprehension
umurDict = {'andi': 24, 'budi': 32, 'ceci': 23, 'dedi': 51}
umurGanjilDict = {key: val for (key, val) in umurDict.items() if val % 2 != 0}
print(umurGanjilDict)
# {'ceci': 23, 'dedi': 51}

{'ceci': 23, 'dedi': 51}

In [26]:
# if-else Conditional Dictionary Comprehension
umurDict = {'andi': 24, 'budi': 32, 'ceci': 23, 'dedi': 51}
tuaMudaDict = {key: ('tua' if val > 50 else 'muda') for (key, val) in umurDict.items()}
print(tuaMudaDict)
# {'andi': 'muda', 'budi': 'muda', 'ceci': 'muda', 'dedi': 'tua'}

{'andi': 'muda', 'budi': 'muda', 'ceci': 'muda', 'dedi': 'tua'}

**Exerces: Built a market program using dictionary**

In [18]:
# Exercise
# Create a dictionary menu-based program (2 menu)
# First menu: add item into dictionary
# Second menu: delete item in dictionary
# The added and removed items are based on the user input


# Build dictionary
my_dict = {
    'milk': {'brand': 'ultra', 'price': 5000},
    'instant noodles': {'brand': 'indomie', 'price': 3000},
    'cooking oil': {'brand': 'bimoli', 'price': 36000}
}

while True:
    print('''Menu Options:
    1. Add a product
    2. Remove a product
    3. Exit
    ''')

    choice = input('Enter menu (1/2/3): ')

    if choice == '1':
        product = input('Enter product: ')
        brand = input('Enter brand: ')
        price = int(input('Enter price: '))
        my_dict[product] = {'brand': brand, 'price': price}
        print('Data successfully added:', product, ':', my_dict[product])
        print(my_dict)
    elif choice == '2':
        product = input('Enter product to remove: ')
        del my_dict[product]
        print(my_dict)
    elif choice == '3':
        print('Thank you!')
        break
    else:
        print('Please enter a valid option.')

Menu Options:
    1. Add a product
    2. Remove a product
    3. Exit

Enter menu (1/2/3): 1
Enter product: diet cola
Enter brand: coca cola
Enter price: 5000
Data successfully added: diet cola : {'brand': 'coca cola', 'price': 5000}
{'milk': {'brand': 'ultra', 'price': 5000}, 'instant noodles': {'brand': 'indomie', 'price': 3000}, 'cooking oil': {'brand': 'bimoli', 'price': 36000}, 'diet cola': {'brand': 'coca cola', 'price': 5000}}
Menu Options:
    1. Add a product
    2. Remove a product
    3. Exit

Enter menu (1/2/3): 2
Enter product to remove: diet cola
{'milk': {'brand': 'ultra', 'price': 5000}, 'instant noodles': {'brand': 'indomie', 'price': 3000}, 'cooking oil': {'brand': 'bimoli', 'price': 36000}}
Menu Options:
    1. Add a product
    2. Remove a product
    3. Exit

Enter menu (1/2/3): 3
Thank you!

## **Set**

* Denoted by curly braces {}
* Stores different data types
* Cannot contain duplicate items
* No indexing system
* Mutable
* Often used to remove duplicates

**Creating a set data type**

In [33]:
# Creating a set data type
set_example = {'Hello', 3, 2, 1, True, 6, 6, 6, 10, False, 'Hi'}
print(set_example) # Cannot contain duplicates

{False, 1, 2, 3, 'Hi', 6, 10, 'Hello'}

In [22]:
# Accessing data # No order
# Looping through a set
for val in set_example:
    print('Value:', {val})

Value: {False}
Value: {1}
Value: {2}
Value: {3}
Value: {'Hi'}
Value: {100}
Value: {6}
Value: {200}
Value: {10}
Value: {'Hello'}
Value: {300}

In [35]:
# Calculating number of items in set
print(len(set_example))

8

In [42]:
# Creating a set data type (method 2)
# Creating set from List, tuple, and dictionary using set() function
list1 = ['Diandra', 3, 3, 'Widy']
tuple1 = (False, 1, 'Andi', False)
dictionary1 = {
    'name': 'Coder',
    'age': 25,
    'country': 'Indonesia',
    'job': 'Coder',
    'marriage': False

}

list_to_set = set(list1)
tuple_to_set = set(tuple1)
dictionary_to_set = set(dictionary1)
setDictionaryValues = set(dictionary1.values())

print(list_to_set)
print(tuple_to_set)
print(dictionary_to_set)
print(setDictionaryValues)

{'Diandra', 3, 'Widy'}
{False, 1, 'Andi'}
{'country', 'marriage', 'job', 'age', 'name'}
{'Indonesia', 25, 'Coder', False}

**Checking whether a value is exist in a set**

In [43]:
# Check if an item exists in a set
set_example = {'Hello', 3, 2, 1, True, 6, 6, 6, 10, False, 'Hi'}

if 10 in set_example:
    print('10 is in the set')
else:
    print('10 is not in the set')

10 is in the set

**Adding item in a set**

In [20]:
# Adding item using add()
set_example = {'Hello', 3, 2, 1, True, 6, 6, 6, 10, False, 'Hi'}
print('set example before: ', set_example)

set_example.add('New')
print('set example after: ', set_example)

set example before:  {False, 1, 2, 3, 'Hi', 6, 10, 'Hello'}
set example after:  {False, 1, 2, 3, 'Hi', 'New', 6, 10, 'Hello'}

**Adding multiple items in a set**

In [21]:
# Adding multiple items using update
set_example = {'Hello', 3, 2, 1, True, 6, 6, 6, 10, False, 'Hi'}
print('set example before: ', set_example)

set_example.update([100, 200, 300])
print('set example after: ', set_example)

set example before:  {False, 1, 2, 3, 'Hi', 6, 10, 'Hello'}
set example after:  {False, 1, 2, 3, 'Hi', 100, 6, 200, 10, 'Hello', 300}

**Removing item from a set**

We can use some function to remove items from set, such as
* remove()
* pop()
* discard()
* clear()

In [37]:
# Removing an item # discard
set_example.discard(2)
print('After discard(2):',set_example)

After discard(2): {False, 1, 3, 'Hi', 6, 10}

In [36]:
# Removing an item # remove
set_example.remove('Hello')
print('After remove("hello"):',set_example)

After removal("hello") {False, 1, 2, 3, 'Hi', 6, 10}

In [38]:
# Removing an item, randomly # pop
set_example.pop()
print('After pop():',set_example)

After pop(): {1, 3, 'Hi', 6, 10}

In [39]:
# All item removal
set_example.clear()
print('After clear():',set_example)

After clear(): set()

**Membership: issubset and issupperset**

In [40]:
# Issubset # isssuperset

# Creating set
prima = {3, 5, 7}
ganjil = {1, 3, 5, 7, 9}
genap = {2, 4, 6}

# Check whether a set is a subset of another
print('Prima is subset of ganjil:', prima.issubset(ganjil))

# Check whether a set is a superset of another
print('Ganjil is superset of prima:', ganjil.issuperset(prima))

# Check whether the two sets have no elements in common (disjoint)
print('Ganjil is disjoint with genap:', ganjil.isdisjoint(genap))

Prima is subset of ganjil: True
Ganjil is superset of prima: True
Ganjil is disjoint with genap: True

**The union() method**

In [49]:
# Join sets
# Union = All unique elements from both sets
set_movie_1 = {'The Avengers', 'Avengers: Endgame', 'Avengers: Infinity War', 'Avengers: Age of Ultron'}
set_movie_2 = {'Avengers: Endgame', 'Avengers: Infinity War', 'The Avengers', 'Titanic'}

set_combined = set_movie_1.union(set_movie_2)
print(set_combined)

{'Avengers: Age of Ultron', 'Avengers: Infinity War', 'Avengers: Endgame', 'The Avengers', 'Titanic'}

**The difference() method**

In [51]:
# Get difference between 2 sets
set_movie_1 = {'The Avengers', 'Avengers: Endgame', 'Avengers: Infinity War', 'Avengers: Age of Ultron', 'Iron man 3'}
set_movie_2 = {'Avengers: Endgame', 'Avengers: Infinity War', 'The Avengers', 'Titanic'}

# difference: Elements in set_movie_1 but not in set_movie_2
set_difference = set_movie_1.difference(set_movie_2)
print(set_difference)
print(set_movie_1)

{'Avengers: Age of Ultron', 'Iron man 3'}
{'Avengers: Age of Ultron', 'Avengers: Infinity War', 'Avengers: Endgame', 'The Avengers', 'Iron man 3'}

**The symetric_difference() method**

In [52]:
# Get symmetric difference between 2 sets
# Symetric_difference() # Elements in either set, but not both
# Return a new set with items unique to each set

set_movie_1 = {'The Avengers', 'Avengers: Endgame', 'Avengers: Infinity War', 'Avengers: Age of Ultron', 'Iron man 3'}
set_movie_2 = {'Avengers: Endgame', 'Avengers: Infinity War', 'The Avengers', 'Titanic'}

set_movie_3 = set_movie_1.symmetric_difference(set_movie_2)
print(set_movie_3)

{'Avengers: Age of Ultron', 'Titanic', 'Iron man 3'}

In [53]:
# Intersection: Elements common to both set
# Returns: A new set with only shared elements
set_movie_1 = {'The Avengers', 'Avengers: Endgame', 'Avengers: Infinity War', 'Avengers: Age of Ultron', 'Iron man 3'}
set_movie_2 = {'Avengers: Endgame', 'Avengers: Infinity War', 'The Avengers', 'Titanic'}

set_intersection = set_movie_1.intersection(set_movie_2)
print(set_intersection)

{'Avengers: Infinity War', 'Avengers: Endgame', 'The Avengers'}