<a href="https://colab.research.google.com/github/harishmuh/Python-simple-tutorials/blob/main/Function_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Exercise**
---

## **Question-1**

Create a function named `calculate_area` to calculate the area of a circle with a parameter `radius`. The result should be a decimal number rounded to two decimal places.

In [1]:
import math

def calculate_area(radius):
    area_circle = round(math.pi * radius**2, 2)
    return area_circle

Your solution is correct if the following assertions do not raise errors.

In [2]:
assert calculate_area(3) == 28.27
assert calculate_area(7) == 153.94
assert calculate_area(11) == 380.13
assert calculate_area(20) == 1256.64

## **Question-2**

Create a function named multiplication with a parameter number that will display/print the multiplication table from 1 to 10 for that number.

In [3]:
# Function
# multiplication(9)

# Output
# 9 x 1 = 9
# 9 x 2 = 18
# 9 x 3 = 27
# 9 x 4 = 36
# 9 x 5 = 45
# 9 x 6 = 54
# 9 x 7 = 63
# 9 x 8 = 72
# 9 x 9 = 81
# 9 x 10 = 90

def multiplication(number):
    for multiplier in range(1, 11):
        result = number * multiplier
        print(f'{number} x {multiplier} = {result}')

multiplication(9)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

**Question-3**

Websites often use relative timestamps like "3 days ago" or "about 3 hours ago" so users don't need to compare absolute timestamps with the current time. In this exercise, you will write a function that converts a number of seconds into a string representing the number of days, hours, minutes, and seconds.


Create a function named time_convert() with a parameter total_seconds. The argument for this parameter is the number of seconds to be translated into days, hours, minutes, and seconds. If the number of days, hours, minutes, or seconds is zero, do not display it. The function should return '10m' instead of '0h 10m 0s'.

In [4]:
# Method by Mr. Boni

def time_convert(total_seconds):
    days = total_seconds // (24 * 3600)
    remaining = total_seconds % (24 * 3600)
    hours = remaining // 3600
    remaining = total_seconds % 3600
    minutes = remaining // 60
    seconds = total_seconds % 60
    result = ''
    if days > 0:
        result = result + str(days) + 'd '
    if hours > 0:
        result = result + str(hours) + 'h '
    if minutes > 0:
        result = result + str(minutes) + 'm '
    if seconds > 0 or (days == 0 and hours == 0 and minutes == 0):
        result = result + str(seconds) + 's '
    return result.strip()

time_convert(0)

'0s'

Your solution is correct if the following assertions do not raise errors.

In [5]:
assert time_convert(0) == '0s'
assert time_convert(30) == '30s'
assert time_convert(60) == '1m'
assert time_convert(90) == '1m 30s'
assert time_convert(3600) == '1h'
assert time_convert(3601) == '1h 1s'
assert time_convert(3661) == '1h 1m 1s'
assert time_convert(86400) == '1d'
assert time_convert(90042) == '1d 1h 42s'
assert time_convert(90102) == '1d 1h 1m 42s'

**Question-4**

According to Encyclopedia Britannica, a factorial is the product of all positive integers less than or equal to a given positive integer, denoted by an exclamation mark (!). For example, the factorial of four is written as 4!. The value of 4! is the product of all positive integers below 4:

4
!
=
4
×
3
×
2
×
1
=
24
4!=4×3×2×1=24

Thus, the factorial of 4 is 24. Simply put, a factorial is the product of all integers below the factorial number and the number itself.

Create a function named factorial to calculate the factorial of a given number.

In [10]:
# Alternative 1
def factorial(number):
    result = 1
    for i in range(1, number + 1):
        result *= i
    return result

In [11]:
assert factorial(0) == 1
assert factorial(1) == 1
assert factorial(2) == 2
assert factorial(3) == 6
assert factorial(4) == 24
assert factorial(5) == 120
assert factorial(6) == 720
assert factorial(7) == 5040
assert factorial(8) == 40320
assert factorial(9) == 362880
assert factorial(10) == 3628800

# Your solution is correct if the following assertions do not raise errors.

In [12]:
# Alternative 2
def factorial(number):
    if number == 0:
        return 1
    elif number < 0:
        return None
    else:
        return number * factorial(number - 1)

In [13]:
assert factorial(0) == 1
assert factorial(1) == 1
assert factorial(2) == 2
assert factorial(3) == 6
assert factorial(4) == 24
assert factorial(5) == 120
assert factorial(6) == 720
assert factorial(7) == 5040
assert factorial(8) == 40320
assert factorial(9) == 362880
assert factorial(10) == 3628800

# Your solution is correct if the following assertions do not raise errors.

## **Question-5**

Combination is the selection of items from a collection where the order does not matter. Since order is irrelevant, this is the key difference between combinations and permutations. In combinations, the arrangement XY is the same as YX, whereas in permutations, XY and YX are considered different arrangements.

Combinations can be denoted and calculated as follows:

C
n/k
​
 = (n/k
​
 )=
n!/k!(n−k)!

Where n is the total number of items to choose from, k is the number of items to choose, and the ! symbol denotes factorial.

Create a function named combination to calculate the number of combinations with parameters n and k.

In [14]:
def combination(n, k):
    return factorial(n) / (factorial(k) * factorial(n - k))


Your solution is correct if the following assertions do not raise errors.

In [15]:
assert combination(3, 1) == 3
assert combination(4, 2) == 6
assert combination(5, 3) == 10
assert combination(8, 4) == 70
assert combination(12, 5) == 792

Question-6

In mathematics, Pascal's Triangle is a geometric arrangement of binomial coefficients in a triangle. The rows of Pascal's Triangle are typically counted starting with row zero, and the numbers in odd rows are often arranged to relate to the numbers in even rows.

The simple construction of the triangle is as follows:

In row zero, only write the number 1.

To construct the elements of the next row, add the number above and to the left with the number directly above and to the right to find the new value.

If the number to the right or left does not exist, substitute a blank in its place.

For example, the number one in the first row is 0 + 1 = 1, where the numbers 1 and 3 in the third row are added to produce the number 4 in the fourth row.

![image](https://upload.wikimedia.org/wikipedia/commons/0/0d/PascalTriangleAnimated2.gif)

Create a function named pascal_triangle to display Pascal's Triangle with a specified number of rows using the parameter rows.

In [16]:
# Function
# pascal_triangle(6)

# Output
#      1
#     1 1
#    1 2 1
#   1 3 3 1
#  1 4 6 4 1
# 1 5 10 10 5 1

def pascal_triangle(rows):
    matrix = []
    for i in range(rows):
        row = []
        for j in range(i + 1):
            row.append(int(combination(i, j)))
        matrix.append(row)

    for row in matrix:
        space = (rows - len(row)) * ' '
        value = ' '.join(str(i) for i in row)
        print(space, value)

In [17]:
pascal_triangle(5)

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1